#titulo
{
	left: calc(50% - 450px/2);
	top: calc(50% - 95px/2 - 395px);
	font-family: PT Serif Caption;
	font-size: 90px;
	line-height: 120px;
	text-align: center;
	color: #000000;
}
#subtitulo
{
	font-family: PT Serif Caption;
	font-size: 60px;
}
#cabecalho
{
	font-family: 'Franklin Gothic Medium';
	background-color: #D5EEF0;
	height: 20%;
	width: 100%; 
}
#cabecalho ul
{
	background-color: #9ee4e7 ;
	list-style: none; 
	font-size: 20px;
	line-height: 32px;
	align-items: center;
	text-align: center;
	color: #000000;
}
#cabecalho ul li
{
	color: #212529;
	display: inline;
}
#cabecalho ul li a
{
	color: #212529;
	padding: 4px 15px; 
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	border-bottom: 3px solid  #9ee4e7;   
}
#cabecalho ul li a:hover
{
	background-color:  #C0EEF0;
	color: black;
	border-bottom: 3px solid black;
}
#corpo
{
	height: 80%;
	width: 100%;
	margin-top: -16px;
	background-color: #e0f2f3;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: #353535 0.04em 0.03em;
	font-size: 15px;
}
.imagem
{
	height: 200px;
	width: 240px;
	border:2px solid #c1dddf;
}
#login
{
	font-family: PT Serif Caption;
	font-size: 45px;
	text-align: center;
}
#login_bloco
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	margin-left: 33%;
	margin-right: 33%;
	box-shadow: black;
}
#quem_somos
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: black;
	text-align: justify;
}
#box
{
	margin-bottom: 9px;
}
#botao
{
	font-size: 16px;
	text-align: left;
}
#login_botao
{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cad
{
	font-size: 15px;
	color: #212529;
}
#contatos
{
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}